
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a7a7a7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #929292;
}

.message ul {
    margin: 0;
    padding: 0;
}

.message li {
    list-style: none;
}

.message .user-wrapper,.message .message-wrapper {
    border: 1px solid #dddddd;
    overflow-y: auto;
}

.message .user-wrapper {
    height: 200px;
}

.message .user {
    cursor: pointer;
    padding: 5px 0;
    position: relative;
}

.message .user:hover {
    background: #eeeeee;
}

.message .user:last-child {
    margin-bottom: 0;
}

.pending {
    position: absolute;
    left: 13px;
    top: 9px;
    background: #b600ff;
    margin: 0;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    padding-left: 5px;
    color: #ffffff;
    font-size: 12px;
}

.message .media-left {
    margin: 0 10px;
}

.message .media-left img {
    width: 64px;
    border-radius: 64px;
}

.message .media-body p {
    margin: 6px 0;
}

.message .message-wrapper {
    padding: 10px;
    height: 536px;
    background: #eeeeee;
}

.message .messages .message {
    margin-bottom: 15px;
}

.message .messages .message:last-child {
    margin-bottom: 0;
}

.message .received,.message .sent {
    width: 45%;
    padding: 3px 10px;
    border-radius: 10px;
}

.message .received {
    background: #ffffff;
}

.message .sent {
    background: #3bebff;
    float: right;
    text-align: right;
}

.message .message p {
    margin: 5px 0;
}

.message .date {
    color: #777777;
    font-size: 12px;
}

.message .active {
    background: #eeeeee;
}

.message input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0 0 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #cccccc;
}

.message input[type=text]:focus {
    border: 1px solid #aaaaaa;
}
