ul, ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ---------- filter ---------*/
.filter {
	margin-top: 30px;
	background: #F6F7FB;
	padding: 30px;
	/*max-height: 200px;*/
	/*overflow-y: auto;*/
}
.filter:first-child {
	margin-top: 0;
}
.filter .title {
	position: relative;
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 25px;
	display: block;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}

/*---------- filter options ------------*/
.options {
	margin-top: 15px;
}
.options li {
	margin-bottom: 5px;
}
.options li:last-child{
	margin:0;
}
.options li label input {
	display: inline-block;
	margin-right: 6px;
	position: relative;
	top: 1px;
}
.options li label {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	color:#333;
	cursor:pointer;
}
.options .count{
	margin-left:5px;
	color:#666;
}

/* -------- card ---------- */
/*.title {
  margin-bottom: 50px;
text-transform: uppercase;
}*/
.card-block {
	font-size: 1em;
	position: relative;
	margin: 0;
	padding: 0.9em;
	border: none;
	border-top: 1px solid rgba(34, 36, 38, .1);
	box-shadow: none;
}
.card {
    font-size: 1em;
    overflow: hidden;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
/*.btn { margin-top: auto; } */

.profile-card {
	font-family: 'Open Sans', Arial, sans-serif;
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	color: #ffffff;
	text-align: center;
	height:250px;
	border:none;
}
.profile-card .background {
	width:100%;
	vertical-align: top;
	opacity: 0.9;
	-webkit-filter: blur(5px);
	filter: blur(5px);
	-webkit-transform: scale(1.8);
	transform: scale(2.8);
}
.profile-card .card-content {
	width: 100%;
	padding: 15px 25px;
	position: absolute;
	left: 0;
	top: 50%;
}
.profile-card .profile {
	border-radius: 50%;
	position: absolute;
	bottom: 50%;
	left: 50%;
	max-width: 100px;
	opacity: 1;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
	border: 2px solid rgba(255, 255, 255, 1);
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}
.profile-card h2 {
	margin: 0 0 5px;
	font-weight: 600;
	font-size:25px;
}
.profile-card h2 small {
	display: block;
	font-size: 15px;
	margin-top:10px;
}
.profile-card .icon-block{
    float:left;
    width:100%;
    margin-top:8px;
}
.profile-card .icon-block a{
    text-decoration:none;
}
.profile-card .icon {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	border: 1px solid #fff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	margin:0 5px;
}
.profile-card .icon:hover {
  	background-color:#fff;
 	color:#2E3434;
	text-decoration:none;
}

.attribute {
	margin-bottom: 5px;
}
.attribute-title{
	font-weight: bold;
	color: gray;
}
.attribute-value{
	color: slategray;
}